* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.body {
  height: 50vw;
}

.BG {
    position: fixed;
    overflow-x: hidden;
    top: -35vw;
}

.rotate {
     transform: rotate(-19.55deg);
    height: 200vw;
    top: -40vw;
}

.square1  {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 50vw;
    left: 41vw;
    top: -31vw;
    background: black;
    animation: s1Move 1800s forwards;
}

.square4  {
    position: absolute;
    z-index: -1;
    width: 75vw;
    height: 520vw;
    left: -41vw;
    top:-25vw ;
    background: black;
    
}

.square3  {
    position: absolute;
    z-index: -1;
    width: 90vw;
    height: 500vw;
    top: 22vw;
    left: 41vw;
    background: black;
    animation: s3Move 1800s forwards;
}

.square2 {
    position: absolute;
    z-index: -1;
    width: 200vw;
    height: 500vw;
    left: -250vw;
    top:-25vw ;
    background: black;
    /animation: s2Move 1800s forwards;
}

.square6 {
    position: absolute;
    z-index: -1;
    width: 200vw;
    height: 100vw;
    left: -250vw;
    top: 485vw;
    background: black;
}

.title {
    z-index: -3;
    height: 10vw;
    width: 300vw;
    top: 12.5vw;
    left: 32.5vw;
}

.Title {
    position: absolute;
    z-index: -3;
    color: black;
    font-size: 10vw;
    font-weight: 400;
    left: 33vw;
    top: 12.5vw;
}

@keyframes s1Move {
    0%, .05%/*, .18%, .2%*/ { left: 37vw; top: -29.5vw; }
    .09%/*, .17%, .19%, .21%*/ { left: 41vw; top: -31vw; }
    .18%, .2%, .77%, .79% {top: -29.5vw;}
    .17%, .19%, .21%, .76%, .78%, .8% { top: -31vw;}
}

@keyframes s2Move {
    0%, .05%/*, .18%, .2%*/ { left: -162.5vw;}
    .09%, .17%, .19%, .21% { left: -166vw;}
}

@keyframes s3Move {
    0%, .05%/*, .18%, .2%*/ { left: 37vw; top: 20vw; }
    .09%/*, .17%, .19%, .21%*/ { left: 41vw; top: 22vw;}
    .18%, .2%, .77%, .79% {top: 20vw;}
    .17%, .19%, .21%, .76%, .78%, .8% { top: 22vw;}
}
.menu {
    z-index: 10;
    position: absolute;
    color: white;
    height: 10vw;
    width: 14vw;
    top: 23.5vw;
    left: 45vw;
    background:;
    cursor: pointer;
}

.menu li {
    list-style: none;
    font-size: 4vw;
}

.menuBtn {
    z-index: 12;
    position: absolute;
    cursor: pointer;
    height: 5vw;
    width: 10vw;
    background: red;
    opacity: 0;
    top: 23.5vw;
    left: 44vw;
}

.InBtn {
    z-index: 10;
    position: absolute;
    height: 5vw;
    width: 13vw;
    background: red;
    opacity: 0;
    top: 23.5vw;
    left: 60vw;
}

.In {
    z-index: 1;
    position: absolute;
    color: white;
    height: 10vw;
    width: 14vw;
    top: 23.5vw;
    left: 60vw;
    background:;
    font-size: 4vw;
    cursor: pointer;
}

.eyeblow1 {
    z-index: 11;
    position: absolute;
    background: black;
    opacity: 1;
    width: 90vw;
    height: 4vw;
    top: 23vw;
    left: 41vw;
    animation: e1move 1800s forwards;
}

.eyeblow2 {
    z-index: 11;
    position: absolute;
    background: black;
    opacity: 1;
    width: 90vw;
    height: 4vw;
    bottom: 169.5vw;
    left: 41vw;
    animation: e2move 1800s forwards;
}

@keyframes e1move {
    0%, .23%, .25%, .27% { height: 4vw;}
    .24%, .26%, .28%, 100% { height: 0vw;}
}

@keyframes e2move {
    0%, .23%, .25%, .27% { height: 4vw;}
    .24%, .26%, .28%, 100% { height: 0vw;}
}

#eyeblow3 {
    position: absolute;
    z-index: 3;
    height: 30vw;
    width: 59.2vw;
    top: 32vw;
    left: 41vw;
    background: black;
    transition: .2s ease-in-out;
}
#eyeblow4 {
    position: absolute;
    z-index: 3;
    height: 30vw;
    width: 59.2vw;
    bottom: 110vw;
    left: 41vw;
    background: black;
    transition: .2s ease-in-out;
}

#nav-input:checked ~ #eyeblow3 {
    height: 0vw;
}

#nav-input:checked ~ #eyeblow4 {
    height: 0vw;
}

.goaisatu {
    position: absolute;
    height: 5vw;
    width: 30vw;
    top: 32vw;
    left: 41vw;
    font-size: 3vw;
    color: white;
    margin: 2vw;
    background: black;
}

.paragraph {
    z-index: 1;
    position: absolute;
    width: 59vw;
    height: 60vw;
    top: 38vw;
    left: 41vw;
    background: black;
}

.Gaiyo {
    list-style: none;
    margin: 2vw;
    color: white;
    font-size: 2.6vw;
}

.Kanachan {
    cursor: pointer;
    margin: 2vw;
    color: white;
    font-size: 2.6vw;
}

.Boss {
    cursor: pointer;
    margin: 2vw;
    color: white;
    font-size: 2.6vw;
}

.Kurio {
    cursor: pointer;
    margin: 2vw;
    color: white;
    font-size: 2.6vw;
}

.Toruchan {
    position: absolute;
    left:30vw;
    top: 29vw;
    cursor: pointer;
    margin: 2vw;
    color: white;
    font-size: 2.6vw;
}

.Keto {
    position: absolute;
    left:30vw;
    top: 35vw;
    cursor: pointer;
    margin: 2vw;
    color: white;
    font-size: 2.6vw;
}

.Fujikun {
    position: absolute;
    left:30vw;
    top: 41vw;
    cursor: pointer;
    margin: 2vw;
    color: white;
    font-size: 2.6vw;
}

.xanachan {
    position: absolute;
    z-index: 5;
    left: -163vw;
    top: 430vw;
    color: white;
    font-size: 3.5vw;
    transform: rotate(0deg);
}

.xoss {
    position: absolute;
    z-index: 5;
    left: -116vw;
    top: 450vw;
    color: white;
    font-size: 3.5vw;
    transform: rotate(0deg);
}

.xurio {
    position: absolute;
    z-index: 5;
    left: -85vw;
    top: 380vw;
    color: white;
    font-size: 3.5vw;
    transform: rotate(90deg);
}

.xoruchan {
    position: absolute;
    z-index: 5;
    left: -100vw;
    top: 250vw;
    color: white;
    font-size: 3.5vw;
    transform: rotate(90deg);
}

.xeto {
    position: absolute;
    z-index: 5;
    left: -80vw;
    top: 190vw;
    color: white;
    font-size: 3.5vw;
    transform: rotate(90deg);
}

.eyeblowKe1 {
    position: absolute;
    height: 5vw;
    width: 17vw;
    z-index: 6;
    left: -84.5vw;
    top: 190vw;
    background: black;
    transform: rotate(90deg);
    animation: Ke1move 2s infinite;
}

.eyeblowKe2 {
    position: absolute;
    height: 5vw;
    width: 17vw;
    z-index: 6;
    left: -79.5vw;
    bottom: -135vw;
    background: black;
    transform: rotate(90deg);
    animation: Ke2move 2s infinite;
}

@keyframes Ke2move {
    0%, 20%, 90%, 100% {height: 5vw;}
    50% {height: 0vw;}
        
}
@keyframes Ke1move {
    0%, 20%, 90%, 100% {height: 5vw;}
    50% {height: 0vw;}

}

.xujikun {
    position: absolute;
    z-index: 5;
    left: -25vw;
    top: 200vw;
    color: white;
    font-size: 3.5vw;
    transform: rotate(19.55deg);
}

.f1 {
    z-index: -1;
    position: fixed;
    top: 0;
    height: 300vw;
    width: 200vw
}
.boss {
    list-style: none;
    position: absolute;
    color: black;
    top: 15vw;
    left: 60vw;
    font-size: 4vw;
}

.kanachan {
    list-style: none;
    position: absolute;
    color: black;
    top: 40vw;
    left: 35vw;
    font-size: 4vw;
}

.toruchan {
    list-style: none;
    position: absolute;
    color: black;
    top: 70vw;
    left: 17.5vw;
    font-size: 4vw;
}

.kurio {
    list-style: none;
    position: absolute;
    color: black;
    top: 80vw;
    left: 60vw;
    font-size: 4vw;
}

.keto {
    list-style: none;
    position: absolute;
    color: black;
    top: 114vw;
    left: 5vw;
    font-size: 4vw;
}

.fujikun {
    list-style: none;
    position: absolute;
    color: black;
    top: 114vw;
    left: 78vw;
    font-size: 4vw;
}

.square5 {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 50vw;
    background: black;
    top: 632vw;
}



