* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.body {
    height: 50vw;
}

.BG {
    position: fixed;
    overflow-x: hidden;
    top:5vw;
}

.rotate {
    transform: rotate(odeg);
    height: 200vw;
    top: -40vw;
}

.square1  {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 50vw;
    left: 20vw;
    top: -31vw;
    background: black;
    animation: s1Move 1800s forwards;
}

.square4  {
    position: absolute;
    z-index: -1;
    width: 75vw;
    height: 550vw;
    left: -60vw;
    top:-25vw ;
    background: black;

}

.square3  {
    position: absolute;
    z-index: -1;
    width:100vw;
    height: 442vw;
    top: 22vw;
    left: 20vw;
    background: black;
    animation: s3Move 1800s forwards;
}

.square2 {
    position: absolute;
    z-index: -1;
    width: 200vw;
    height: 500vw;
    left: -250vw;
    top:-25vw ;
    background: black;
    /animation: s2Move 1800s forwards;
}

.square6 {
    position: absolute;
    z-index: -1;
    width: 200vw;
    height: 100vw;
    left: -250vw;
    top: 485vw;
    background: black;
}

.square5  {
    position: absolute;
    z-index: -1;
    width:100vw;
    height: 47vw;
    top: 470vw;
    left: 20vw;
    background:black;
    animation: s3Move 1800s forwards;
}

.title {
    z-index: 11;
    height: 10vw;
    width: 300vw;
    top: 50.5vw;
    left: 32.5vw;
}

.Title {
    position: absolute;
    z-index: 11;
    color: black;
    font-size: 9vw;
    font-weight: 400;
    left:-9vw;
    top: 410.5vw;
    transform: rotate(-90deg);
}

iframe {
    position: absolute;
    z-index: 10;
    left: 25vw;
    top: 30.5vw;
}

.caption {
    position: absolute;
    z-index: 11;
    width: 70vw;
    height: 70vw;
    left: 25vw;
    top: 75.5vw;
    background: black;
}

.was {
    position: absolute;
    z-index: 11;
    height: 5vw;
    width: 30vw;
    top: 464.5vw;
    left: 20vw;
    opacity: 0;
    background: red;
}


.now {
    position: absolute;
    z-index: 11;
    height: 5vw;
    width: 14vw;
    top: 464.5vw;
    left: 55vw;
    opacity: 0;
    background: red;
}

.will {
    position: absolute;
    z-index: 11;
    height: 5vw;
    width: 23vw;
    top: 464.5vw;
    left: 77vw;
    opacity: 0;
    background: red;
}

.Caption {
    color: white;
    font-size: 2.5vw;
}

.img1 {
    position: absolute;
    z-index: 12;
    left: 0vw;
    top: 52vw;
    width: 70vw;
    height: 39.4vw;
}

.img2 {
    position: absolute;
    z-index: 12;
    left: 0vw;
    top: 97vw;
    width: 70vw;
    height: 39.4vw;
}

.img3 {
    position: absolute;
    z-index: 12;
    left: 0vw;
    top: 142vw;
    width: 70vw;
    height: 39.4vw;
}

.img4 {
    position: absolute;
    z-index: 12;
    left: 0vw;
    top: 187vw;
    width: 70vw;
    height: 39.4vw;
}

.img5 {
    position: absolute;
    z-index: 12;
    left: 0vw;
    top: 232vw;
    width: 70vw;
    height: 39.4vw;
}

.img6 {
    position: absolute;
    z-index: 12;
    left: 0vw;
    top: 277vw;
    width: 70vw;
    height: 39.4vw;
}

.f1 {
    z-index: -2;
    position: fixed;
    height: 100vw;
    width: 100vw;
    top: 6.5vw;
    left: 22vw;
    background: white;
}

.name {
    font-size: 6.5vw;
}

.f2 {
    z-index: -2;
    position: fixed;
    height: 30vw;
    width: 80vw;
    top: 152.5vw;
    left: 20vw;
    background: white;
}

.nav {
    text-align: center;
    font-size: 4.3vw;
}
